* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: whitesmoke;
}

a:hover {
  text-decoration: underline;
}

body {
  background-color: #222222;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.2), #222222),
    url(../img/background.jpg);
  background-position: center;
  background-repeat: repeat, no-repeat;
  background-size: auto 100vh;
  object-fit: cover;
  font-family: "Source Code Pro", monospace;
  height: 100vh;
  font-size: 12px;
}

@media (min-width: 400px) {
  body {
    font-size: 11px;
  }
}

header {
  height: 99vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu {
  background-color: #222222;
  position: fixed;
  width: 100vw;
  top: 0;
  z-index: 1;
}

.menu ul {
  display: flex;
  justify-content: space-around;
}

.menu li {
  list-style: none;
}

.menu a {
  font-size: 1.2em;
  display: block;
  padding: 10px 20px;
  transition: text-shadow 0.5s;
}

.menu a:active,
.menu a:hover {
  text-decoration: none;
  text-shadow: 0px 0px 10px rgba(255, 255, 255, 0.5);
}

.titulo {
  animation: linear 1.2s animacaoTitulo forwards;
}

@keyframes animacaoTitulo {
  from {
    transform: scale(0.2) translateY(40vh);
    opacity: 0;
  }
  to {
    transform: scale(1) translateY(0);
    opacity: 1;
  }
}

.site-subtitle,
.site-title {
  color: whitesmoke;
  text-align: center;
}

.site-title {
  font-family: "Bungee Shade", cursive;
  font-size: 3em;
}

.site-subtitle {
  font-family: "Press Start 2P", cursive;
  font-size: 0.8em;
  line-height: 2em;
}

.img-portfolio {
  height: 180px;
  width: 240px;
  object-fit: cover;
  border-radius: 2%;
}

.sobre,
.contato,
.portfolio {
  background-color: #222222;
  padding: 2em;
}

.sobre h2,
.contato h2,
.portfolio h2 {
  font-family: "Press Start 2P", cursive;
  color: whitesmoke;
  margin-bottom: 2em;
  font-size: 1.5em;
  text-align: center;
}

.grid {
  display: grid;
  gap: 2em;
}

@media (max-width: 560px) {
  body {
    background-size: auto 100vh;
  }
}

@media (min-width: 560px) {
  .portfolio .grid {
    grid-template-columns: repeat(2, 240px);
    align-content: center;
    justify-content: center;
  }

  .contato .icons {
    grid-template-columns: repeat(2, 240px);
  }
}

@media (min-width: 880px) {
}

figcaption {
  color: whitesmoke;
}

.portfolio figure {
  text-align: center;
}

.contato {
  min-height: 60vh;
}

.contato a {
  color: whitesmoke;
  font-size: 8em;
  text-align: center;
  transition: text-shadow 0.5s;
}

.contato a:active,
.contato a:hover {
  text-decoration: none;
  text-shadow: 0px 0px 10px rgba(255, 255, 255, 0.5);
}

.contato .icons {
  justify-content: center;
}

.sobre {
  width: auto;
  min-height: 70vh;
}

.terminal {
  align-items: center;
  justify-content: center;
  background: rgba(24, 24, 24, 1);
  border-radius: 5px 5px 5px 5px;
  box-shadow: 5px 9px 10px;
  width: auto;
  height: 63vh;
}

.component {
  background: linear-gradient(180deg, rgba(52, 56, 59, 1.2), #222222);
  border-radius: 5px 5px 0px 0px;
  width: auto;
  height: 4vh;
}

@media (min-width: 320px) {
  .terminal {
    min-height: 211vh;
  }
  .component {
    height: 3.3vh;
  }
}

@media (min-width: 375px) {
  .terminal {
    min-height: 148vh;
  }
  .component {
    height: 3vh;
  }
}

@media (min-width: 410px) {
  .terminal {
    min-height: 98vh;
  }
  .component {
    height: 2.8vh;
  }
}

@media (min-height: 800px) {
  .terminal {
    min-height: 120vh;
  }
  .component {
    height: 2.5vh;
  }
  .portfolio .grid {
    grid-template-columns: repeat(2, 240px);
    align-content: center;
    justify-content: center;
    height: calc(100vh -8em -48px);
  }
}

@media (min-width: 680px) {
  .terminal {
    min-height: 38vh;
    height: 38vh;
  }
  .sobre {
    height: 50vh;
    min-height: 50vh;
  }
  .component {
    height: 2vh;
  }
}

@media (min-width: 1024px) {
  .terminal {
    min-height: 21vh;
    height: 21vh;
  }
  .sobre {
    height: 30vh;
    min-height: 30vh;
  }
  .component {
    height: 1.4vh;
  }
  .contato {
    min-height: 30vh;
    height: 30vh;
  }
}

@media (min-width: 1200px) {
  body {
    background-size: 100vw 100vh;
  }
  .img-portfolio {
    height: 150px;
    width: 220px;
  }
  .contato .icons {
    grid-template-columns: repeat(4, 240px);
    height: calc(100vh -8em -48px);
  }  
  .terminal {
    height: 38vh;
  }
  .component {
    height: 3vh;
  }
  .sobre {
    height: 60vh;
  }
  .contato {
    min-height: 40vh;
    height: 40vh;
  }
}

@media (min-width: 1800px) {
  .terminal {
    height: 23vh;
  }
  .component {
    height: 3vh;
  }
  .sobre {
    height: 40vh;
  }
  .contato {
    min-height: 30vh;
    height: 30vh;
  }
}

.component i:active,
.component i:hover {
  text-shadow: 0px 0px 10px rgba(255, 255, 255, 0.5);
}

.component .close {
  margin: 4px 0px 0px 7px;
  color: #f8585a;
}

.component .minimize {
  color: #dec71c;
}

.component .option {
  color: #56c432;
}

.curriculum {
  color: #c0c0c0;
  padding: 0px 5px 5px 5px;
  font-size: 1.1em;
}

.curriculum p {
  margin-top: 5px;
}

.curriculum b {
  color: white;
}
